@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

[x-cloak] {
    display: none !important;
}

aside {
    background-color: #111827;
    color: white;
    transition: all 0.3s ease-in-out;
}

main {
    transition: all 0.3s ease-in-out;
}

.card {
    @apply bg-white rounded-xl p-6 mb-6 shadow-sm;
}

.table-auto th,
.table-auto td {
    @apply border border-x-transparent border-y-gray-100 px-4 py-4 text-left;
}

.table-auto th {
    @apply border border-t-transparent font-semibold text-gray-500;
}

.table-auto tr:hover {
    @apply bg-blue-50;
}

.input-search {
    @apply border border-gray-300 rounded px-3 py-2 w-full max-w-sm focus:outline-none focus:ring-2 focus:ring-blue-500;
}

input[type="text"].input-search::placeholder {
    @apply text-gray-400;
}